### U.S. Citizen Deaths Overseas

https://travel.state.gov/content/travel/en/international-travel/while-abroad/death-abroad1/death-statistics.html

Data is available from October 2002 to December 2022.

In [3]:
import pandas as pd

df = pd.read_csv('../../data/raw/us_citizen_deaths_overseas.csv', encoding='latin1')
print(df.head())

         Date                  City    Cause of Death
0  10/25/2003  Shkin -  Afghanistan  Terrorist Action
1  10/25/2003  Shkin -  Afghanistan  Terrorist Action
2  08/29/2004  Kabul -  Afghanistan  Terrorist Action
3  08/29/2004  Kabul -  Afghanistan  Terrorist Action
4  08/29/2004  Kabul -  Afghanistan  Terrorist Action

In [4]:
df.dtypes

Date              object
City              object
Cause of Death    object
dtype: object

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce') # datetime format
df['Country'] = df['City'].str.split('-').str[-1].str.strip() # extract country
df['City'] = df['City'].str.split('-').str[0].str.strip() # extract city
df.columns = df.columns.str.lower().str.replace(' ', '_') # standardize column names

In [7]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.to_period('M')

In [8]:
df.head()

        date   city    cause_of_death      country  year    month
0 2003-10-25  Shkin  Terrorist Action  Afghanistan  2003  2003-10
1 2003-10-25  Shkin  Terrorist Action  Afghanistan  2003  2003-10
2 2004-08-29  Kabul  Terrorist Action  Afghanistan  2004  2004-08
3 2004-08-29  Kabul  Terrorist Action  Afghanistan  2004  2004-08
4 2004-08-29  Kabul  Terrorist Action  Afghanistan  2004  2004-08

In [10]:
df.to_csv('../../data/processed/us_citizen_deaths_overseas_processed.csv', index=False)